@sitetheme : 'default';

/* Global */
@site       : @sitetheme;
@reset      : @sitetheme;

/* Elements */
@button     : @sitetheme;
@container  : @sitetheme;
@divider    : @sitetheme;
@flag       : @sitetheme;
@header     : @sitetheme;
@icon       : @sitetheme;
@image      : @sitetheme;
@input      : @sitetheme;
@label      : @sitetheme;
@list       : @sitetheme;
@loader     : @sitetheme;
@rail       : @sitetheme;
@reveal     : @sitetheme;
@segment    : @sitetheme;
@step       : @sitetheme;

/* Collections */
@breadcrumb : @sitetheme;
@form       : @sitetheme;
@grid       : @sitetheme;
@menu       : @sitetheme;
@message    : @sitetheme;
@table      : @sitetheme;

/* Modules */
@accordion  : @sitetheme;
@checkbox   : @sitetheme;
@dimmer     : @sitetheme;
@dropdown   : @sitetheme;
@embed      : @sitetheme;
@modal      : @sitetheme;
@nag        : @sitetheme;
@popup      : @sitetheme;
@progress   : @sitetheme;
@rating     : @sitetheme;
@search     : @sitetheme;
@shape      : @sitetheme;
@sidebar    : @sitetheme;
@sticky     : @sitetheme;
@tab        : @sitetheme;
@transition : @sitetheme;

/* Views */
@ad         : @sitetheme;
@card       : @sitetheme;
@comment    : @sitetheme;
@feed       : @sitetheme;
@item       : @sitetheme;
@statistic  : @sitetheme;

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'assets/site/';

/*******************************
         Import Theme
*******************************/

@import "semantic-ui-less/theme.less";

/*******************************
         Reset Paths
*******************************/

/* Path to fonts path */
@fontPath : '../../@{theme}/assets/fonts';

/* End Config */
